/// Column
 //
 //
 // Styleguide molecules.col

&-col {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-right: rem(20px);

  &:first-of-type {
    border-right: 1px dashed color(japlaurel);
  }

  &:last-of-type {
    padding-left: rem(20px);
  }

  @include mq($until: S) {
    width: auto;
    float: none;
    padding-right: 0;

    &:first-of-type {
      border-right: 0 none;
      border-bottom: 1px dashed color(japlaurel);
      margin-bottom: rem(20px);
      padding-bottom: rem(15px);
    }

    &:last-of-type {
      padding-left: 0;
    }
  }
}

