/// Post
 //
 //
 // Styleguide molecules.post

@at-root {
  [class*=template-default],
  .category {
    .primary-container {
      @include clearfix;
      position: relative;
      padding: rem(50px) 0;
      margin-top: 0;
    
      @include mq($until: S) {
        padding: rem(20px) 0 0;
      }
    
      &::before {
        content: "";
        background: url(../img/school-pattern.jpg) repeat left top;
        position: absolute;
        top: 0;
        left: -1000%;
        right: -1000%;
        bottom: 0;
        display: block;
        z-index: -1;
        opacity: .9;
      }

      .main {
        float: none;
        margin: 0 auto;
      }
  
      .post,
      .page {
        border: 0 none;
        padding-left: 15px;
        padding-right: 15px;

        &::before {
          display: none;
        }
      }

      .featured-image {
        display: none;
      }
  
      .loop-container {
        background-color: color(lilywhite);
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        margin: 0 rem(15px) rem(30px) rem(15px);
        padding: rem(10px);

        article {
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .category {
    .archive-header {
      margin: 0 rem(15px);
    }

    .post {
      border-bottom: 1px dashed white;
      margin-bottom: rem(20px);
      padding-bottom: rem(20px);

      &:last-child {
        padding-left: 0;
        padding-bottom: rem(20px);
      }
    }

    .loop-container {
      margin: 0 rem(15px) rem(30px) rem(15px);
    }
  }
}

