/// Post
 //
 //
 // Styleguide molecules.post

@at-root {
  .post {
		z-index: -1;
		position: static;
		margin-bottom: 0;
		
		> article {
			background: transparent;
			box-shadow: none;
		}

		h2 {
			margin-bottom: rem(10px);

			a:hover,
			a:focus {
				opacity: .7;
			}
		}
	}
	
	.post-container {
		padding: 0;
		margin-bottom: 0;

		.featured-image {

			img {
				border: 6px solid color(picton);
				transition: border .15s ease-out;
			}

			a:hover,
			a:focus {
				img {
					border-width: 10px;
				}
			}
		}
	}

	.post-content {
		.more-link-wrapper {
			display: block;
			text-align: right;
		}

		.more-link {
			border: 0 none;
			margin: 0;
			padding: 8px 16px;
			background: color(codgray);
			font-family: $font-opensans-semibloditalic;
			font-size: rem(15px);
			line-height: 1.2;
			color: color(fuego);
			display: inline-block;
			transition: background .25s ease-in-out;
			cursor: pointer;
			text-align: left;
			text-decoration: none;
		
			&::after {
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				transform: rotate(45deg);
				border: 2px solid color(fuego);
				border-bottom: 0 none;
				border-left: 0 none;
				margin: 0 3px 0 5px;
				box-shadow: 3px -3px 0 0px color(codgray), 4px -4px 0 0px color(fuego);
				transition: margin .1s ease-in;
			}

			&:hover {
				background: lighten(color(codgray), 12%);

				&::after {
					margin: 0 0 0 8px;
				}
			}
		}
	}
  
  .home .post {
		width: 50%;
		float: left;

		@include mq($until: S) {
			width: auto;
			float: none;
			border-bottom: 1px dashed white;
			margin-bottom: rem(20px);
			padding-bottom: rem(20px)
		}
	}

	.category .post {
		width: 100%;
	}

	.post:first-child {
		width: 100%;
		border-bottom: 1px dashed white;
		margin-bottom: rem(20px);
		padding-bottom: rem(20px);
	}

	.post:last-child {
		float: right;
		position: relative;
		padding-left: 2%;
		z-index: 1;

		@include mq($from: S) {
			padding-bottom: 0;

			&::before {
				content: "";
				border-left: 1px dashed white;
				position: absolute;
				left: 0;
				top: 0;
				bottom: -1000%;
				display: block;
			}
		}

		@include mq($until: S) {
			padding-left: 0;
			float: none;

			&::before {
				display: none;
			}
		}

		h2 {
			font-size: rem(24px) !important;
		}
	}

	@include mq($from: S) {
		.post:nth-of-type(2) {
			padding-right: 2%;

			h2 {
				font-size: rem(24px) !important;
			}
		}
	}

	// to ensure that is only one post author and original one, not the modifier.
	.post-byline > * {
		display: none;
	}

	.post-byline > span:last-of-type,
	.post-byline > a:last-of-type {
		display: inline-block;
	}

	.post-byline a.category {
		background-color: color(fuego);
		font-family: $font-opensans-semiblod;
		padding: rem(3px) rem(6px);
		margin-left: rem(5px);
		text-transform: uppercase;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

