/// Table
 //
 //
 // Styleguide molecules.table

&-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin-bottom: 0;

  &::after {
    content: "";
    background: url("../img/clock.png") no-repeat right top;
    display: block;
    width: 93px;
    height: 93px;
    position: absolute;
    top: -30px;
    right: 10px;

    @include mq($until: S) {
      top: -50px;
      right: -50px;
      transform: scale(.8);
    }
  }

  thead {
    th {
      background-color: color(calypso);
      border: 1px solid color(calypso);
      text-align: left;
      text-transform: uppercase;
      font-family: $font-opensans-semibold;
      color: white;
      font-size: rem(20px);
      padding-top: rem(10px);
      padding-bottom: rem(10px);

      @include mq($until: S) {
        font-size: rem(18px);
      }
    }
  }

  tbody {
    td {
      border: 1px solid color(calypso);
      background-color: color(wildsand);

      @include mq($until: S) {
        font-size: rem(15px);
      }

      strong {
        font-family: $font-opensans-semibold;

        @include mq($until: S) {
          display: block;
        }
      }
    }
  }
}

