/// Fonts
 //
 // * $font-walterturncoat: 'walterturncoat', $font-default;
 // * $font-roboto-regular: 'roboto-regular', $font-default;
 // * $font-opensans-semibold: 'opensans-semibold', $font-default;
 // * $font-opensans-semibolditalic: 'opensans-semibolditalic', $font-default;
 //
 // Styleguide Config.fonts

 @font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
       url('../fonts/opensans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semibolditalic';
  src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
       url('../fonts/opensans-semibolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
       url('../fonts/roboto-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'walterturncoat';
  src: url('../fonts/walterturncoat.woff2') format('woff2'),
       url('../fonts/walterturncoat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-default: Arial, sans-serif;

$font-walterturncoat: 'walterturncoat', $font-default;
$font-roboto-regular: 'roboto-regular', $font-default;
$font-roboto-bold: 'roboto-bold', $font-default;
$font-opensans-semibold: 'opensans-semibold', $font-default;
$font-opensans-semibolditalic: 'opensans-semibolditalic', $font-default;
