<div>Ceci est un partial hbs avec une {{variable}}</div>

<!-- SVG example -->
<style>
  .icon {
    width: 125px;
    height: 125px;
    background: #eee;
  }

  body {
    padding: 20px;
  }
</style>

<svg class="icon">
  <use xlink:href="#symbol-fish" />
</svg>

<svg class="icon">
  <use xlink:href="#symbol-beaker" />
</svg>
<!-- end: SVG example -->
