/// Corner
 //
 //
 // Styleguide atoms.corner


&-corner {
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/corner.jpg") no-repeat left top;
  width: 47px;
  height: 48px;
  display: block;
}

