/// Link
 //
 // External link
 //
 //
 // markup:
 // <button class="mg-link {{modifier_class}}"><span>Button </span>button</button>
 // <a href="#" class="mg-link {{modifier_class}}"><span>Link </span>link</a>
 //
 // Styleguide atoms.link


&-link {
  border: 0 none;
  margin: 0;
  padding: 10px 14px;
  position: relative;
  background: color(picton);
  font-family: "opensans-semibold";
  font-size: rem(16px);
  line-height: 1.2;
  display: inline-block;
  color: color(codgray) !important;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: left;
  transition: background-color .15s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid color(chathams);
  }

  &::before {
    content: "";
    display: block;
    height : 0;
    width : 0;
    border-top : 8px solid transparent;
    border-bottom : 8px solid transparent;
    border-left : 10px solid color(chathams);
    position: absolute;
    right: -8px;
    top: 50%;
    margin-top: -8px;
  }

  &:hover {
    background-color: color(fuego);
  }
}

