/// Link
 //
 // External link
 //
 //
 // markup:
 // <button class="mg-link {{modifier_class}}"><span>Button </span>button</button>
 // <a href="#" class="mg-link {{modifier_class}}"><span>Link </span>link</a>
 //
 // Styleguide atoms.link


&-link {
  border: 0 none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  background: color(picton);
  font-family: "opensans-semibold";
  font-size: rem(16px);
  line-height: 1.2;
  display: inline-block;
  color: color(codgray) !important;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: left;
  transition: padding .15s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    padding-right: 10px;
    background-color: color(fuego);

    abbr {
      padding: 8px 10px 8px 20px;
    }
  }

  abbr {
    display: inline-block;
    padding: 8px 10px;
    margin-right: 10px;
    background: color(chathams);
    color: color(wildsand);
    position: relative;
    transition: padding .15s ease-in-out;
    text-decoration: none;

    &::before {
      content: "";
      background: color(chathams);
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      right: -4px;
      top: 50%;
      margin-top: -6px;
      transform: rotate(45deg);
    }
  }
}

