/// Title
 //
 //
 // Styleguide atoms.title


&-title {
  font-family: $font-walterturncoat;
  font-weight: 400;
  line-height: 1.3 !important;

  &--alpha {
    font-size: rem(36px) !important;
  }

  &--beta {
    font-size: rem(20px) !important;
    text-transform: uppercase;
    margin-bottom: rem(10px);
  }

  &--gamma {
    font-size: rem(20px) !important;
    margin-bottom: rem(10px);

    @include mq($until: L) {
      font-size: rem(16px) !important;
    }
  }

  &--eta {
    font-size: rem(24px) !important;
    text-transform: uppercase;
    margin-bottom: rem(10px);
  }
}

