/// Title
 //
 //
 // Styleguide atoms.title


&-title {
  font-family: $font-walterturncoat;
  font-weight: 400;
  line-height: 1;

  &--alpha {
    font-size: rem(36px) !important;
  }

  &--beta {
    font-size: rem(20px) !important;
    text-transform: uppercase;
    margin-bottom: rem(10px);
  }

  &--gamma {
    font-size: rem(20px) !important;
  }

  &--eta {
    font-size: rem(24px) !important;
    text-transform: uppercase;
    margin-bottom: rem(10px);
    line-height: 1.3;
  }
}

