@at-root {
	.site-title {
		font-size: 64px;
		text-transform: uppercase;
	}

	.site-header {
		position: relative;
		background-color: transparent;
		padding: 0;

		&:before {
			content: '';
			background-color: color(limeade);
			opacity: .9;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
		}
	}

	.title-container {
		width: 100%;
		margin-bottom: 0;
	}

	.menu-primary-container {
		margin-bottom: 0;
	}

	.menu-primary {
		background-color: color(hawkes);
		position: relative;
		z-index: 10;
	}

	.home .post {
		width: 48%;
		float: left;
	}

	.category .post {
		width: 100%;
	}

	.post:first-child {
		width: 100%;
	}

	.post:last-child {
		float: right;
	}

	// to ensure that is only one post author and original one, not the modifier.
	.post-byline > * {
		display: none;
	}

	.post-byline > span:last-of-type,
	.post-byline > a:last-of-type {
		display: inline;
	}
}

&-header {

	&-logo {
		background: url('../img/header.jpg') no-repeat top left;
		min-height: 447px;
		margin: 0;

		@include mq($until: L) {
			max-width: 1024px;
			min-height: 0;
			background-size: contain;
		}

		&-img {
			margin-left: 52px;
			margin-top: 10px;

			@include mq($until: L) {
				margin-left: 32px;
				max-width: 46%;
			}
		}
	}

	&-infos {
		position: absolute;
		bottom: 23px;
		left: 110px;
		font-size: 20px;
		line-height: 1.3;
		max-width: 450px;

		a {
			color: color(wildsand);
		}

		&-address {
			float: left;
			width: 50%;
			margin: 0;

			span {
				display: block;
				margin-bottom: 5px;
			}

			strong {
				font-style: italic;
			}
		}

		&-number {
			font-weight: bold;
			font-size: 1.2em;
		}

		&-mail {
			font-size: .85em;
			text-decoration: underline;
			font-style: italic;
		}
	}
}

&-bloc {
  background-color: color(wildsand);
}

