@at-root {
	.site-title {
		font-size: 64px;
		text-transform: uppercase;
	}

	.site-header {
		position: relative;
		background-color: transparent;
		padding: 0;

		@include mq($until: S) {
			background: color(fuego);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;

			@include mq($until: S) {
				display: none;
			}
		}

		&:before {
			background: url('../img/header_left.jpg') repeat-x left top;
			right: 50%;

			@include mq($until: L) {
				background-size: contain;
				background-position: left -25px;
			}
		}

		&:after {
			background: url('../img/header_right.jpg') repeat-x left top;
			left: 50%;

			// Override clearfix set in the base theme
			visibility: visible;
			line-height: auto;
			height: auto;

			@include mq($until: L) {
				background-size: contain;
				background-position: left -25px;
			}
		}
	}

	.title-container {
		width: 100%;
		margin-bottom: 0;
	}

	.toggle-navigation {
		width: 100%;
    text-align: left;
		padding: .75em 0 .5em rem(10px);
		margin: 0;
		vertical-align: middle;
		background: color(chathams);
		border: 0 none;
		border-radius: 0;

		&::after {
			content: "Menu";
			display: inline-block;
			text-transform: uppercase;
			color: white;
			font-family: $font-opensans-semiblod;
			font-size: rem(20px);
			position: relative;
			top: -3px;
			left: 10px;
		}
	}
}

&-header {

	&-logo {
		background: url('../img/header.jpg') no-repeat top left;
		min-height: rem(447px);
		margin: 0 0 0 rem(10px);

		@include mq($until: L) {
			max-width: rem(1024px);
			min-height: rem(328px);;
			background-size: contain;
			background-position: center center;
			margin: 0 auto;
		}

		@include mq($until: S) {
			background: none;
			min-height: 0;
		}

		a {
			display: block;
		}

		&-img {
			margin-left: rem(52px);
			margin-top: rem(10px);

			@include mq($until: L) {
				position: relative;
				left: 50%;
				margin-left: -440px;
				max-width: 46%;
				max-height: rem(275px);
			}

			@include mq($until: S) {
				position: static;
				margin: 0;
				max-width: 100%;
				max-height: none;
				display: block;
				margin: 0 auto;
			}
		}
	}

	&-infos {
		position: absolute;
		bottom: 25px;
		left: 110px;
		font-size: rem(19px);
		line-height: 1.3;
		max-width: rem(450px);

		@include mq($until: L) {
			bottom: 22px;
			left: 50%;
			margin-left: -395px;
			font-size: rem(14px);
			max-width: rem(338px);
		}

		@include mq($until: S) {
			position: static;
			max-width: none;
			color: color(codgray);
			padding: rem(10px) 0;
			margin: rem(-13px) rem(15px) rem(15px);
			background: color(wildsand);
			border: 1px dashed color(limeade);
		}

		a {
			color: color(wildsand);

			@include mq($until: S) {
				color: color(codgray);
			}
		}

		&-address {
			float: left;
			width: 50%;
			margin: 0;

			@include mq($until: S) {
				width: 100%;
				float: none;
			}

			span {
				display: block;
				margin-bottom: rem(5px);

				@include mq($until: S) {
					display: inline-block;
				}
			}

			strong {
				font-style: italic;

				@include mq($until: S) {
					font-style: normal;
				}
			}
		}

		&-number {
			font-weight: bold;
			font-size: 1.2em;

			@include mq($until: S) {
				font-size: 1.4em;
			}
		}

		&-mail {
			font-size: .85em;
			text-decoration: underline;
			font-style: italic;

			@include mq($until: S) {
				font-size: 1em;
				padding-top: rem(5px);
				display: block;
			}
		}
	}
}

