@at-root {
	.site-title {
		font-size: 64px;
		text-transform: uppercase;
	}

	.site-header {
		position: relative;
		background-color: transparent;
		padding: 0;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
		}

		&:before {
			background: url('../img/header_left.jpg') repeat-x left top;
			right: 50%;
		}

		&:after {
			background: url('../img/header_right.jpg') repeat-x left top;
			left: 50%;

			// Override clearfix set in the base theme
			visibility: visible;
			line-height: auto;
			height: auto;
		}
	}

	.title-container {
		width: 100%;
		margin-bottom: 0;
	}
}

&-header {

	&-logo {
		background: url('../img/header.jpg') no-repeat top left;
		min-height: rem(447px);
		margin: 0 0 0 rem(10px);

		@include mq($until: L) {
			max-width: rem(1024px);
			min-height: 0;
			background-size: contain;
		}

		&-img {
			margin-left: rem(52px);
			margin-top: rem(10px);

			@include mq($until: L) {
				margin-left: rem(32px);
				max-width: 46%;
			}
		}
	}

	&-infos {
		position: absolute;
		bottom: 25px;
		left: 110px;
		font-size: rem(19px);
		line-height: 1.3;
		max-width: rem(450px);

		a {
			color: color(wildsand);
		}

		&-address {
			float: left;
			width: 50%;
			margin: 0;

			span {
				display: block;
				margin-bottom: rem(5px);
			}

			strong {
				font-style: italic;
			}
		}

		&-number {
			font-weight: bold;
			font-size: 1.2em;
		}

		&-mail {
			font-size: .85em;
			text-decoration: underline;
			font-style: italic;
		}
	}
}

