@at-root {
  .menu-primary-container {
    margin-bottom: 0;
  }

	.menu-primary {
    background-color: color(lilywhite);
    // position: relative;
    z-index: 10;
    box-shadow: 0 5px 20px 0 transparentize(black , .75);

    .max-width {
      max-width: rem(1200px);
    }
  }

  .menu-primary-items {
    display: flex;;
    min-height: rem(45px);

    > .menu-item {
      font-size: rem(20px);
      flex: 1;
      font-family: $font-walterturncoat;
      text-transform: uppercase;
      text-align: center;
      margin: 0;

      > a {
        color: color(codgray);
        min-height: rem(45px);
        display: block;
        padding-top: 8px;
      }

      &.current-menu-item, 
      &.current_page_item, 
      &.current-menu-ancestor,
      &:hover,
      &:focus, {
        background-color: color(linkwater);
        box-shadow: inset 0 -4px color(chathams);

        a {
          background: transparent;
        }

        > a:hover,
        > a:focus {
          background: transparent;
        }
      }
    }

    .sub-menu {
      padding: 0 rem(10px);
      
      > .menu-item a {
        text-transform: none;
        text-align: left;
      }
    }
  }
}
