{# autre.twig #}
{# ------------------------------------------------------------------------- #}

{# VARIABLES STATIQUES #}
{# ------------------------------------------------------------------------- #}
{# Préférez mettre vos variables dans le fichier:                            #}
{#     ./src/data/pages/subpages/autre.json                                  #}
{# De même, les variables "globales" d'environnement devrais être dans:      #}
{#     ./src/data/data.json                                                  #}

{# LAYOUT #}
{# ------------------------------------------------------------------------- #}
{% extends "../../layouts/_default.twig" %}

{# GABARIT PRINCIPAL #}
{# ------------------------------------------------------------------------- #}
{% block main %}
  <p>Un autre test</p>
{% endblock main %}
