{{! autre.hbs }}
{{! ------------------------------------------------------------------------- }}

{{! VARIABLES STATIQUES }}
{{! ------------------------------------------------------------------------- }}
{{! Préférez mettre vos variables dans le fichier:                            }}
{{!     ./src/data/pages/subpages/autre.json                                  }}
{{! De même, les variables "globales" d'environnement devraient être dans:    }}
{{!     ./src/data/data.json                                                  }}

{{! LAYOUT }}
{{! ------------------------------------------------------------------------- }}
{{#> layouts_default}}

  <p>Un autre test</p>

{{/layouts_default}}
