@at-root {
  .loop-container {
    overflow: hidden;
    @include clearfix;
    margin-bottom: rem(30px);

    @include mq($until: S) {
      margin-bottom: 0;
    }
    
    &::after {
      display: none;
    }
  }

  .primary-container {
    box-sizing: border-box;
    padding: 0 rem(40px);
    margin: 0 auto;
    min-height: 0;
    max-width: 1280px;
    position: relative; // mostly for the sidebar and for larges screens

    @include mq($until: L) {
      padding: 0 rem(30px);
    }

    @include mq($until: M) {
      padding: 0 rem(20px);
    }

    @include mq($until: S) {
      padding: 0 rem(10px);
      margin-top: 200px; // it's the height of the anchor block;
    }

    .main {
      width: 64%;

      @include mq($until: S) {
        width: 100%;
      }
    }

    .sidebar-primary {
      width: 30%;
      position: absolute;
      top: 0;
      right: 40px;
      margin-top: 0;

      @include mq($until: L) {
        right: 30px;
      }

      @include mq($until: M) {
        right: 20px;
      }

      @include mq($until: S) {
        width: auto;
        position: static;
        padding-bottom: rem(20px);

        &::before {
          content: "";
          background: url(../img/school-pattern.jpg) repeat left top;
          position: absolute;
          top: 0;
          left: -1000%;
          right: -1000%;
          bottom: 0;
          display: block;
          z-index: -1;
          opacity: .9;
          width: auto;
          height: auto;
        }
      }
    }
  }

  .menu-container {
    padding: 0 rem(40px);
  }
}

&-container {
  &-school {
    @include clearfix;
    position: relative;
    padding: rem(50px) 0;

    @include mq($until: S) {
      padding: rem(20px) 0 0;
    }

    &::before {
      content: "";
      background: url(../img/school-pattern.jpg) repeat left top;
      position: absolute;
      top: 0;
      left: -1000%;
      right: -1000%;
      bottom: 0;
      display: block;
      z-index: -1;
      opacity: .9;
    }
  }

  &-asso {
    @include clearfix;
    position: relative;
    padding: rem(40px) 0;

    &::before {
      content: "";
      background: url(../img/center-pattern.jpg) repeat left top;
      position: absolute;
      top: 0;
      left: -1000%;
      right: -1000%;
      bottom: 0;
      display: block;
      z-index: -1;
      box-shadow: inset 0 1px 20px 0 transparentize(black, .5);
      opacity: .9;
    }

    ul, ol {
      margin-top: rem(5px);

      > li {
        margin-bottom: rem(8px);
      }
    }
  }

  &-hobbies {
    position: relative;
    padding: rem(40px) 0;
    margin-top: rem(-10px); // to cancel inset box-shadow of before block

    &::before {
      content: "";
      background: color(regent);
      position: absolute;
      top: 0;
      left: -1000%;
      right: -1000%;
      bottom: 0;
      display: block;
      z-index: -1;
      box-shadow: inset 0 1px 20px 0 transparentize(black, .5);
    }

    .#{$prefix}-sep--bottom {
      border-bottom-color: color(chathams);
    }

    .#{$prefix}-col {
      &:first-of-type {
        border-right-color: color(chathams);
      }
    }
  }

  &-meal {
    position: relative;
    padding: rem(40px) 0 rem(60px);
    margin-top: rem(-10px); // to cancel inset box-shadow of before block

    &::before {
      content: "";
      background: color(lilywhite);
      position: absolute;
      top: 0;
      left: -1000%;
      right: -1000%;
      bottom: 0;
      display: block;
      z-index: -1;
      box-shadow: inset 0 1px 20px 0 transparentize(black, .5);
    }
  }
}
