{# test.twig #}
{# ------------------------------------------------------------------------- #}

{# VARIABLES STATIQUES #}
{# ------------------------------------------------------------------------- #}
{# Préférez mettre vos variables dans le fichier:                            #}
{#     ./src/data/pages/test.json                                            #}
{# De même, les variables "globales" d'environnement devrais être dans:      #}
{#     ./src/data/data.json                                                  #}

{# LAYOUT #}
{# ------------------------------------------------------------------------- #}
{% extends "../layouts/_default.twig" %}

{# GABARIT PRINCIPAL #}
{# ------------------------------------------------------------------------- #}
{% block main %}
  <p>{{ description }}</p>

  {% include '../partials/_exemple.twig' with {'variable': 'variable de test'} only %}
{% endblock %}
